Importing Libraries

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('titanic2.csv')
df

    Cabin            Ticket number  Survived
0     NaN         A/5 21171      5         0
1     C85          PC 17599      3         1
2     NaN  STON/O2. 3101282      6         1
3    C123            113803      3         1
4     NaN            373450      A         0
..    ...               ...    ...       ...
886   NaN            211536      3         0
887   B42            112053      3         1
888   NaN        W./C. 6607      1         0
889  C148            111369      2         1
890   NaN            370376      3         0

[891 rows x 4 columns]

In [9]:
df['number_numerical'] = pd.to_numeric(df['number'],errors='coerce',downcast='integer')

In [15]:
df['number_categorical'] = np.where(df['number_numerical'].isnull(),df['number'],np.nan)

In [21]:
df['Cabin_num'] = df['Cabin'].str.extract('(\d+)')

In [25]:
df['Cabin_cat'] = df['Cabin'].str[0]

In [26]:
df.head(4)

,Cabin,Ticket,number,Survived,number_numerical,number_categorical,Cabin_num,Cabin_cat
0,NaN,A/5 21171,5,0,5.0,NaN,NaN,NaN
1,C85,PC 17599,3,1,3.0,NaN,85,C
2,NaN,STON/O2. 3101282,6,1,6.0,NaN,NaN,NaN
3,C123,113803,3,1,3.0,NaN,123,C

In [32]:
df['Ticket_num'] = df['Ticket'].apply(lambda x: x.split()[-1])
df['Ticket_num'] = pd.to_numeric(df['Ticket_num'],errors='coerce',downcast='integer')

In [35]:
df['Ticket_cat'] = df['Ticket'].apply(lambda x: x.split()[0])
df['Ticket_cat'] = np.where(df['Ticket_cat'].str.isdigit(),np.nan,df['Ticket'])

In [36]:
df.head(4)

,Cabin,Ticket,number,Survived,number_numerical,number_categorical,Cabin_num,Cabin_cat,Ticket_num,Ticket_cat
0,NaN,A/5 21171,5,0,5.0,NaN,NaN,NaN,21171.0,A/5 21171
1,C85,PC 17599,3,1,3.0,NaN,85,C,17599.0,PC 17599
2,NaN,STON/O2. 3101282,6,1,6.0,NaN,NaN,NaN,3101282.0,STON/O2. 3101282
3,C123,113803,3,1,3.0,NaN,123,C,113803.0,NaN

In [51]:
df['number_categorical'].apply(lambda x: x.fillna('miss'))

AttributeError: ignored

In [52]:
df['number_categorical'].fillna('miss')

0      miss
1      miss
2      miss
3      miss
4         A
       ...
886    miss
887    miss
888    miss
889    miss
890    miss
Name: number_categorical, Length: 891, dtype: object